/*
Verde : #7aa44a;
Lila: #b685c6;
Celeste : #36a4d3;
Rosa : #ef66b9;
Mostaza : #a38321;
Gris claro : #dbdbdb;
Gris modal fondo : #edecec;
Gris oscuro letra: #ba5e49;
Gris iconos : #646464;
Rojo : #FB0505;
*/

@font-face {
  font-family: "Flexo Regular";
  src: url("../font/Flexo/Flexo-Regular.otf");
}

* {
  font-family: "Flexo Regular";
}

body {
  background-color: #FB0505;
}

h1 {
  color: gold;
  font-weight: bold;
  text-shadow: 5px 1px 5px blue;
}

#search-form {
  display: block;
  padding-top: 15px;
  margin-bottom: 20px;
  position: relative;
}

#search-keyword {
  background-image: url(../img/lupa.png);
  background-repeat: no-repeat;
  background-position: right center;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  display: block;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.26);
  outline: 0;
  height: 32px;
  width: 100%;
  font-size: 16px;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}

.visuallyhidden {
  visibility: hidden;
}

/* Contenedor para todos los pokemones */
.poke {
  background-color: #dbdbdb;
  border: 1em solid #FB0505;
  height: 15em;
  border-radius: 1em;
}

.pokeInfo {
  background-color: #36a4d3;
  color: #fff;
  border-radius: 1em;
  padding-top: 0.5em;
}

.search-container {
  background-color: #dbdbdb;
  border-radius: 1em;
}

.descriptionPoke {
  background-color: #edecec;
  border-radius: 1em;
  color: #000;
}

.pokeContainer { 
  padding: 1em;
  background-color: #FB0505;
}